.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  margin: 10px;
}

.card .card-image .card-title {
  color: black;
  font-weight: 400;
}

.navbar {
  padding-left: 75px;
  padding-right: 75px;
}
